USE [master]
GO
/****** Object:  Database [TaskRecordKeeper]    Script Date: 1/10/2016 2:15:39 PM ******/
CREATE DATABASE [TaskRecordKeeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskRecordKeeper', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TaskRecordKeeper.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskRecordKeeper_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TaskRecordKeeper_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskRecordKeeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskRecordKeeper]
GO
/****** Object:  Table [dbo].[Catagory]    Script Date: 1/10/2016 2:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Catagory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Catagory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaskSalf]    Script Date: 1/10/2016 2:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaskSalf](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[StartTime] [varchar](50) NOT NULL,
	[EndTime] [varchar](50) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_TaskSalf] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Catagory] ON 

INSERT [dbo].[Catagory] ([Id], [Name]) VALUES (1, N'Read')
INSERT [dbo].[Catagory] ([Id], [Name]) VALUES (2, N'CRICKET')
INSERT [dbo].[Catagory] ([Id], [Name]) VALUES (3, N'FOOTBALL')
SET IDENTITY_INSERT [dbo].[Catagory] OFF
SET IDENTITY_INSERT [dbo].[TaskSalf] ON 

INSERT [dbo].[TaskSalf] ([Id], [Title], [StartTime], [EndTime], [Date], [CategoryId]) VALUES (1, N'PLAY', N'13:00:00', N'13:59:00', N'1/10/2016', 1)
SET IDENTITY_INSERT [dbo].[TaskSalf] OFF
USE [master]
GO
