USE [master]
GO
/****** Object:  Database [LIbraryManagementDB]    Script Date: 12/30/2015 1:49:26 AM ******/
CREATE DATABASE [LIbraryManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIbraryManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LIbraryManagementDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LIbraryManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LIbraryManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIbraryManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIbraryManagementDB]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 12/30/2015 1:49:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Isbn] [varchar](50) NOT NULL,
	[Author] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [Isbn], [Author]) VALUES (1, N'Bappi Book', N'56789345678vd', N'fds')
INSERT [dbo].[Book] ([Id], [Name], [Isbn], [Author]) VALUES (2, N'SunJava', N'12345678923DE', N'Schildt')
SET IDENTITY_INSERT [dbo].[Book] OFF
USE [master]
GO
